<div class="vote">
  <div class="items">
    <%= render :partial => @item1 %>
    <%= render :partial => @item2 %>
  </div>
</div>




<%= debug params %>
<%= debug @item_class %>
<%= debug @item1 %>
<%= debug @item2 %>
<%= debug @vote %>