<div class="vote">
  <h1><%= @item_group.description %></h1>

  <div class="items clearfix">
    <%= render :partial => @item1 %>
    <%= render :partial => @item2 %>
  </div>

  <% unless @vote.completed? %>
    <a class="vote_action skip" href="<%= vote_on_item_path(group_key: @current_vote.group_key, item1: @item1.id, item2: @item2.id, choose: 'skip') %>">&mdash; SKIP &rarr;<div class="overlay"></div></a>
  <% end %>
  <% if @vote.skipped? %>
    Skipped!
  <% end %>
</div>

<ul class="vote_dash">
  <li class="di">
    <a href="<%= new_item_path(group_key:@item_group.key) %>">Submit Your Own Answer</a>
  </li>
  <li class="di">
    <a href="<%= new_item_group_path %>">Ask Your Own Question</a>
  </li>
</li>
