<%= form_for(@item, as: :item, url: items_path(group_key: @item.group_key)) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value, "Submit your own answer" %>
    <%= f.text_field :value, class: 'input_text' %>
    <%= f.submit '+', class: 'input_submit' %>
  </div>
<% end %>
