<h1><%= @item_group.description %></h1>

<% if request.user %>
<div class="actions">
  <%= link_to 'Add Answer', new_item_path, class: 'action-button answer clickable' %>
  <%= link_to 'Vote!', new_vote_path(group_key: @item_group.key), class: 'action-button vote clickable' %>
</div>
<% end %>
<br/>
<div class="item-list">
  <%= render partial: @items %>
</div>
<% if request.user.try(:admin?) %>
<%= debug @item_group.item_class %>
<%= debug @item_group.item_class.try(:count) %>
<%= debug Mongoid.master[@item_group.key].count %>
<%= debug @item_group.item_class.first %>
<%= debug @item_group.item_class.last %>
Master:<br/>
<%= debug Mongoid.master %>
<% end %>