<h1><%= @item_group.description %></h1>

<h2>Answers already submitted:</h2>
<div class="item-list">
  <%= render partial: @items %>
</div>

<% if request.user %>
<!--   <div class="actions">
    <%= link_to 'Submit Your Own Answer', new_item_path, class: 'action-button answer clickable' %>
    <%= link_to 'Vote!', new_vote_path(group_key: @item_group.key), class: 'action-button vote clickable' %>
  </div> -->
  <div class='clearfix' style="text-align: center">
    <% if @item_group.user_can_submit(request.user) %>
      <%= link_to 'Submit Your Own Answer', new_item_path, class: 'big-button response' %>
    <% end %>
    <% if @item_group.user_can_vote(request.user) %>
      <%= link_to 'Vote!', new_vote_path(group_key: @item_group.key), class: 'big-button vote' %>
    <% end %>
  </div>
<% end %>