<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# verdicapp: http://ogp.me/ns/fb/<%= Rails.fb_app.namespace %>#">
  <title>Verdic</title>
  <script type="text/javascript">
    VRD = new (function Verdic() {
      this.log = <%= Rails.dev?.to_json %>;
      this.fbAppID = <%= Rails.fb_app.id.to_json %>;
    })()
  </script>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Open Graph Tags -->
  <%= og_tags %>
  <!-- /Open Graph Tags -->
  <% if @item %>

  <% end %>
</head>
<body id="<%= controller_name  %>" class="<%= action_name %>">

  <div id="member_bar">
    <% if request.user %>
      <%= link_to 'Logout', logout_path, class: 'logout' %>
    <% else %>
      <%= link_to 'Login', login_path, class: 'login' %>
    <% end %>
  </div>


  <div id="content">
    <div id="page_logo">
      <%= link_to 'Verdic', root_path %>
    </div>
    <% if flash[:notice] %>
      <div class="flash notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </div>

<div id="fb-root"></div>
<%= javascript_include_tag "application" %>
</body>
</html>
