<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# verdicapp: http://ogp.me/ns/fb/<%= Rails.fb_app.namespace %>#">
  <title>Verdic</title>
  <script type="text/javascript">
    VRD = new (function Verdic() {
      this.log = <%= Rails.dev?.to_json %>;
      this.fbAppID = <%= Rails.fb_app.id.to_json %>;
    })()
  </script>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

  <% if @item %>
    <meta property="fb:app_id"          content="<%= Rails.fb_app.id %>"> 
    <meta property="og:type"            content="<%= Rails.fb_app.namespace %>:answer">
    <meta property="og:url"             content="<%= item_url(@item, group_key: @item.group_key) %>">
    <meta property="og:title"           content="<%= @item.value %>">
    <meta property="og:description"     content="In answer to the question: <%= @item.item_group.description %>">
    <meta property="og:image"           content="<%= @item.fb_image %>">
    <meta property="verdicapp:question" content="<%= item_group_url(@item.item_group) %>">
  <% end %>
</head>
<body id="<%= controller_name  %>">

<div id="member_bar">
  <% if request.user %>
    <a href="<%= logout_path %>" class="logout">Logout</a>
  <% else %>
    <a href="<%= login_path %>" class="login">Login</a>
  <% end %>
</div>


<div id="content">
  <div id="page_logo">
    <%= link_to 'Verdic', root_path %>
  </div>
  <% if flash[:notice] %>
    <div class="flash notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="flash alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= yield %>
</div>

<div id="fb-root"></div>
<%= javascript_include_tag "application" %>
</body>
</html>
