<!DOCTYPE html>
<html>
<head>
  <title>Pair</title>
  <script type="text/javascript">
    VRD = new (function Verdic() {
      this.log = <%= Rails.dev?.to_json %>;
      this.fbAppID = <%= Rails.fb_app.id.to_json %>;
    })()
  </script>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name  %>">

<div id="member_bar">
  <% if request.user %>
    <a href="<%= logout_path %>" class="logout">Logout</a>
  <% else %>
    <a href="<%= login_path %>" class="login">Login</a>
  <% end %>
</div>

<div id="flash">
  <%= flash[:notice] %>
</div>

<div id="content">
  <%= link_to root_path do %>
    <div id="page_logo">Verdic</div>
  <% end %>

  <%= yield %>
</div>

<div id="fb-root"></div>
<%= javascript_include_tag "application" %>
</body>
</html>
